{% extends "basic_app/base.html" %}
{% block body %}
<div class="row mt-4">
  <div class="col">
    <h2>Add Item</h2>
    <form class="form-inline" action='TODO/' method="post">
      {% csrf_token %}
      <input type="text" name='text' class="form-control mb-2 mr-sm-2" placeholder="Type here ...">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    {% if todo_list %}
    <ul class="list-group">
      {% for item in todo_list %}
      <li class="list-group-item">{{ item.text }}
        <small class='font-italic text-right badge badge-primary text-wrap" style="width: 6rem;'>{{ item.added_date }}</small>
        <div class="float-right">
          <form action="delete_todo/{{ item.id }}/" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btm-sm btn-danger">Delete</button>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock body %}
